# Apache virtual host for site titled 'testvh', generated Wed Jan 16 10:45:20 EST 2019
<VirtualHost *:80>
	# Admin email, Server Name (domain name) and any aliases
	ServerName  testvh.local
	ServerAlias www.testvh.local

	# Index file and Document Root (where the public files are located)
	DocumentRoot /srv/http/testvh/

	# Custom log file locations
	LogLevel warn
	ErrorLog  /srv/http/testvh/log/srvError.log
	CustomLog /srv/http/testvh/log/srvAccess.log combined

	# Index
	DirectoryIndex index.cfm index.html
</VirtualHost>
